.App {
  height: 100vh;
  width: 100%;
}

.layout {
  display: flex;
  height: 100%;
}

.section {
  flex: 0 0 50%;
  overflow: auto;
  height: 100%;
  position: relative;
}

.loading {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}
